<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./popup.css">
    <title>Facebook Account Info</title>
</head>

<body>
    <div class="account-info">
        <div class="title">
            <p>Facebook Account Info</p>
        </div>
        <div class="info-box">
            <div class="account-type">
                <span id="account-type">Type: / You can try to refresh /</span>
            </div>
            <div class="account-id">
                <span id="account-id">Need to visit the account home page address</span>
            </div>
        </div>
        <div class="notice">
            <p>Github: <a href="https://github.com/h1code2/facebook_account_dis" target="_blank">h1code2</a></p>
        </div>
    </div>

    <script src="./popup.js"></script>
</body>

</html>
